

canvas{
    outline: 7px solid red;
}

section.wrapper
{
    text-align: center;
}

/*
section.full
{
    width: 100px;
    outline:1px solid green;
    margin:0;
    padding:0;
}

section.half
{
    width:50%;
    float:left;
    outline:2px solid orange;
    margin: 0;
    padding:0;
}
*/

body,html{
    margin:0;
    padding:0;
}

div#rect{
    width:500px;
    height: 200px;
    margin:0 auto;
    background-color: coral;
}

div#rect:hover{
    outline: 4px dashed blue;
}

div#rect p{
    text-align:center;
    padding-top:50px;
    color:white;
    font-family: sans-serif;
    font-size: 12px;   
}

div#rect span.colorCode{
    display:block;
    width:100px;
    text-align: center;
    font-family:sans-serif;
    color:white;
    font-size: 32px;
    padding-top: 50px;
}

div.clickBox{
    font-family:sans-serif;
    text-align: center;
    width:100px;
    margin:0 auto;
    height: 300px;
    outline:1 px solid black;
}

.clickBox p{
    padding:20px;
    font-family:monospace;
}

div.character{
    width:50px;
    height:50px;
}

@media only screen and (max-width:600px)
{
    body{
        background-color:blueviolet;
    }

    section.half{
        width:100%;
    }
}